<div class="grid-item">
  <div class="image opacity-fade"></div>
  <div class="day">{{day}}</div>
  <div class="title">{{name}}</div>
  <div class="description">{{description}}</div>
  {{#if mobile}}
    <div class="icon-mobile"></div>
  {{/if}}
  {{#if audio}}
    <div class="icon-audio"></div>
  {{/if}}
</div>