body {
  background: #fff;
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

#grid {
  color: #fff;
  text-align: left;
  display: inline-block;
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 0;
}

.no-touch .grid-item:hover > .image:after,
.no-touch .grid-item:hover,
.no-touch .grid-item:hover > .icons,
.grid-item > .image:after,
.transition-all {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.image-loading {
  opacity: 0.0;
}
.image-loaded {
  opacity: 1.0;
}

.grid-item {
  text-decoration: none;
  color: #fff;
  float: left;
  display: inline;
  position: absolute;
  background: #CCCCCC;
  margin: 0px;
  cursor: pointer;
}

.grid-item > .image:after {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  background: rgba(0, 0, 0, 0.65);
}

.no-touch .grid-item:hover {
  color: rgba(255, 255, 255, 0.0);
}
.no-touch .grid-item:hover > .icons {
  opacity: 0.0;
}
.no-touch .grid-item:hover > .image:after {
  background: rgba(0, 0, 0, 0.0);
}

.grid-item > .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid-item > .day {
  font-size: 8px;
  position: absolute;
  opacity: 0.5;
  top: 1vmax;
  left: 1vmax;
}

.grid-item > .title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
}

.grid-item > .description {
  position: absolute;
  opacity: 0.5;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  text-transform: lowercase;
  margin: auto;
  top: 24px;
  overflow: hidden;  
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.info-container {
  margin: 0 auto;
  text-align: center;
  max-width: 350px;
}
.hashtag, .info, .author {
  display: block;
  text-align: left;
}

.hashtag {
  font-size: 24px;
  line-height: 32px;
}

.info {
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 18px;
  position: relative;
}
.info:after {
  position: absolute;
  bottom: -13px;
  left: 0;
  height: 3px;
  width: 20px;
  background: #D8D8D8;
  content: ' ';
}

.bullet {
  color: #D8D8D8;
}

.author, a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

a {
  color: #48a0cd;
  position: relative;
}

.no-touch a:after {
  content: ' ';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 0px;
  background: currentColor;
  display: inline-block;
}
.no-touch a:hover:after {
  height: 3px;
  bottom: -1px;
}

.no-touch a:after,
.no-touch a:hover:after {
  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  -ms-transition: all 0.05s ease-out;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
}

.icons {
  position: absolute;
  display: inline-block;
  bottom: 6px;
  right: 9px;
  opacity: 0.25;
}
.icon-mobile, .icon-audio {
  width: 14px;
}